---
import type {CarouselItemType} from '@types';
const yml = await import(`@data/frontCarousel.yml`);
const imageData = yml.default;
---

<style>
  .carousel-inner .carousel-item {
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
  }

  .carousel-control-next,
  .carousel-control-prev,
  .carousel-indicators {
    opacity:0;
    transition: opacity .5s ease;
  }

  .carousel:hover > .carousel-control-next,
  .carousel:hover > .carousel-control-prev,
  .carousel:hover .carousel-indicators {
    opacity:100;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width:100px;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius:50%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 40%);
    /* position: relative; */
    padding: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 1;
    /* top: 0; */
    z-index:2;
  }

  h4 {
    font-size: 16px;
    color: #ffffff;
  }

  a {
    font-size: 12px;
  }

  .carousel-indicators {
    margin: auto;
    margin-top:0.4rem;
    position: relative;
    background-color: rgba(0, 0, 0, 20%);
    padding: 0 7px 0 7px;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
  }

  .carousel-indicators [data-bs-target] {
    width: 20px;
  }
</style>

<div
  id="ImageCarousel"
  class="carousel slide"
  data-bs-ride="carousel"
>
  
  <div class="carousel-inner">
    {
      imageData.map((image: CarouselItemType, index: number) => (
        <div class={index == 0 ? "carousel-item active" : "carousel-item"}>
          {image["img-link"] == null ?
            <img src={image.img} class="d-block w-100" alt="..." />
            :
            <a href = {image["img-link"]} target = "_blank">
              <img src={image.img} class="d-block w-100" alt={image.caption} />
            </a>
          }
          <div class="carousel-caption text-start">
            <h4>{image.caption}</h4>
            {image["read-more-link"] != null &&
              <a href = {image["read-more-link"]} target = "_blank">
                Read more
              </a>
            }
          </div>
        </div>
      ))
    }

    <div class="carousel-indicators">
      {
        imageData.map((image: CarouselItemType, index: number) => (
          <button class = {index == 0 ? "carousel-button active" : "carousel-button"} type="button" data-bs-target="#ImageCarousel" data-bs-slide-to={index} aria-current="true"
          />
        ))
      }
    </div>
  </div>
  
  <a
    class="carousel-control-prev"
    type="button"
    data-bs-target="#ImageCarousel"
    data-bs-slide="prev"
    >
    <span
      class="carousel-control-prev-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
</a>

  <a
    class="carousel-control-next"
    type="button"
    data-bs-target="#ImageCarousel"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon"
      aria-hidden="true"
      data-bs-theme="dark"
      ></span>
    <span class="visually-hidden">Next</span>
</a>
</div>
