---
import { getCollection } from 'astro:content';
import { POSTS_PER_PAGE } from '@config';
import NewsPreview from '@components/news/NewsPreview.astro';
import Paginator from '@components/news/Paginator.astro'
import PageSite from '@layouts/PageSite.astro';
import getSortedPosts from '@utils/getSortedPosts'

export async function getStaticPaths() {
  const newsEntries = await getCollection('news');
  let postResult = newsEntries.map(entry => {
    return {
      params: {slug: entry.slug}, 
      props: {entry}
    };
  });

  let max_entries = newsEntries.length;
  let entryList = [];
  for(let i = 1; i<newsEntries.length / POSTS_PER_PAGE; i++){
    entryList.push({params: { slug: String(i) }});
  }
  return [...postResult, ...entryList];
}

const newsEntries = await getCollection('news');
let sortedNews = getSortedPosts(newsEntries);

const { slug } = Astro.params;
const { entry } = Astro.props;

let ent = entry ? await entry.render() : null;
const Content = ent ? ent.Content : null;

let ENTRY_START = (Number(slug) - 1) * POSTS_PER_PAGE;
let ENTRY_END = (Number(slug)) * POSTS_PER_PAGE;
// console.log(ENTRY_START);
let paginatedPosts = sortedNews.slice(ENTRY_START, ENTRY_END);
// console.log(paginatedPosts);

let entryList = [];
for(let i = 1; i<sortedNews.length / POSTS_PER_PAGE; i++){
  entryList.push(i);
}
---
<PageSite title={"StuyPulse | News"} description={""}>
  <h1>News and Newsposts</h1>
  {
    entry ?
    <div>
    {
      entry.data.link ? 
      <iframe src={entry.data.link} width="100%" height="700px"></iframe>
      <div class = "row">
        <div class="col">
          <h4><a href="/news/">See other posts &raquo;</a></h4>
        </div>
      </div>
      :
      <div class = "row">
        <div class="col">
          <Content />
          <h4><a href="/news/">See other posts &raquo;</a></h4>
        </div>
      </div>
    }
    
    </div> 
    :
    <div>
      <div class = "row">
        <div class="col">
          <NewsPreview entries={paginatedPosts} numPosts={POSTS_PER_PAGE}></NewsPreview>
        </div>
      </div>
      <Paginator numPages={entryList} currPost={Number(slug)}/>
    </div>
  }
</PageSite>
