---
import PageSite from '@layouts/PageSite.astro';
import SponsorContainer from '@components/sponsors/SponsorContainer.astro'
import type {SponsorType} from '@types';

// @ts-ignore
const yml = await import('@data/sponsors.yml');
const sponsorData = yml.default;
---
<style>
  .col-md-3, .col-sm-6 {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .inline-icon {
    height: 1.5em;
    transform: translateY(-0.1em);
  }

  h2 {
    border-bottom: 3px solid #e00;
  }
</style>

<PageSite title="Sponsors" description="StuyPulse Robotics can function and participate in FIRST due to the generous support of our many sponsors. All donations support the team and help to keep it running.">
  <h2><img src="/gold-medal.svg" class="inline-icon"> Gold</h2>
  <div class="row">
  {
    sponsorData.filter((sponsor: { tier: string; }) => sponsor.tier == "gold").map((sponsor: SponsorType, index: number) => (
    <div class="col">
        <SponsorContainer sponsor = {sponsor} height = "220px" width = "220px" tSize = "35px"/>
    </div>
    ))
  }
  </div>
  <h2><img src="/silver-medal.svg" class="inline-icon"> Silver</h2>
  <div class="row">
  {
    sponsorData.filter((sponsor: { tier: string; }) => sponsor.tier == "silver").map((sponsor: SponsorType, index: number) => (
    <div class="col-md-3 col-sm-6">
        <SponsorContainer sponsor = {sponsor} height = "220px" width = "220px" tSize = "35px"/>
    </div>
    ))
  }
  </div>
  <h2><img src="/bronze-medal.svg" class="inline-icon"> Bronze</h2>
  <div class="row">
  {
    sponsorData.filter((sponsor: { tier: string; }) => sponsor.tier == "bronze").map((sponsor: SponsorType, index: number) => (
    <div class="col-md-3 col-sm-6">
        <SponsorContainer sponsor = {sponsor} height = "220px" width = "220px" tSize = "35px"/>
    </div>
    ))
  }
  </div>
  <h2><img src="/aluminum-medal.svg" class="inline-icon"> Aluminum</h2>
  <div class="row">
  {
    sponsorData.filter((sponsor: { tier: string; }) => sponsor.tier == "aluminum").map((sponsor: SponsorType, index: number) => (
    <div class="col-md-3 col-sm-6">
        <SponsorContainer sponsor = {sponsor} height = "220px" width = "220px" tSize = "35px"/>
    </div>
    ))
  }
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <h3><img src="/aluminum-medal.svg" class="inline-icon"> Aluminum</h3>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
  </div>
</PageSite>
