---
import PageSite from "@layouts/PageSite.astro";
import SponsorContainer from "@components/sponsors/SponsorContainer.astro";
import type { SponsorType, SponsorTierType } from "@types";

let sponsorSize = "180px";
let textSize = "25px";
let responsive = "col-6 col-md-4 col-xxl-3";

const sponsors = await import("@data/sponsors.yml");
const sponsorData = sponsors.default;
const sponsorTiers = await import(`@data/sponsorTiers.yml`);
const tierData = sponsorTiers.default;
---

<style>
  .inline-icon {
    height: 1.5em;
    width: 1.5em;
    transform: translateY(-0.1em);
  }

  .row h2 {
    border-bottom: 3px solid #e00;
  }
  .list-group-item {
    margin-bottom: 1em;
    border-radius: 0.5em;
  }

  p {
    margin-bottom: 0;
  }
</style>

<PageSite
  title="Sponsors"
  description="StuyPulse Robotics can function and participate in FIRST due to the generous support of our many sponsors. All donations support the team and help to keep it running."
>
  <h1 class="mb-4">Sponsors</h1>
  <div class="row mb-3">
    <div class="col-lg-8 mb-5">
      <p> Thank you so much for your continuous support and contribution to the team! </p>
      <p> To find out how to sponsor our team, click <a href="https://drive.google.com/file/d/1TUDwRB274pog-uMfWDgk21ChS-UlShE-/view?usp=drivesdk" target="new">here</a>. </p>
      <div class="accordion accordion-flush" id="sponsorAccordion">
        {
          tierData.map((sponsorTier: SponsorTierType, index: number) => (
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  // type="button"
                  // data-bs-toggle="collapse"
                  // data-bs-target={"#flush-collapse" + sponsorTier.name}
                  // aria-expanded="false"
                  // aria-controls={"#flush-collapse" + sponsorTier.name}
                >
                  <h3 style="margin-bottom:0;">
                    <img src={sponsorTier.icon} class="inline-icon" />
                    {sponsorTier.name}
                  </h3>
                </button>
              </h2>
              <div
                id={"flush-collapse" + sponsorTier.name}
                class={
                  "accordion-collapse collapse show" 
                }
                aria-labelledby={"flush-heading" + sponsorTier.name}
                data-bs-toggle="collapse"
              >
                <div class="accordion-body row justify-content-center">
                  {sponsorData
                    .filter(
                      (sponsor: { tier: string }) =>
                        sponsor.tier == sponsorTier.name.toLowerCase()
                    )
                    .map((sponsor: SponsorType, index: number) => (
                      <div class={responsive}>
                        <SponsorContainer
                          sponsor={sponsor}
                          height={sponsorSize}
                          width={sponsorSize}
                          tSize={textSize}
                        />
                      </div>
                    ))}
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    
    <div class="col-sm-10 col-lg-4 align-middle">
      <h3 class="mb-3">Sponsorship Levels:</h3>
    <ul class="list-group list-group-flush d-inline">
      {
        tierData.map((sponsorTier: SponsorTierType, index: number) => (
          <>
            <p>
              <img src={sponsorTier.icon} class="inline-icon" />
              {sponsorTier.name + ": " + sponsorTier.range}
            </p>
            <li class="list-group-item">
              <p>{sponsorTier.desc}</p>
            </li>
          </>
        ))
      }
    </ul>
    </div>
  </div>
  <!-- <hr class="justify-content-center w-40"/> -->
  

    <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="m-4">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="HS5273F9CJHU4">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="PayPal donation button" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form> -->

  </div>
</PageSite>
