---
import PageSite from '@layouts/PageSite.astro';
import SponsorContainer from '@components/sponsors/SponsorContainer.astro'
import type {SponsorType} from '@types';

const yml = await import('@data/sponsors.yml');
const sponsorData = yml.default;
---
<style>
  .col-md-3, .col-sm-6 {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .inline-icon {
    height: 1.5em;
    width: 1.5em;
    transform: translateY(-0.1em);
  }

  h2 {
    border-bottom: 3px solid #e00;
  }
</style>

<PageSite title="Sponsors" description="StuyPulse Robotics can function and participate in FIRST due to the generous support of our many sponsors. All donations support the team and help to keep it running.">
  <div class="accordion accordion-flush" id="sponsorAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseGold" aria-expanded="false" aria-controls="flush-collapseGold">
          <h3 style ="margin-bottom:0;"><img src="/gold-medal.svg" class="inline-icon"> Gold</h3>
        </button>
      </h2>
      <div id="flush-collapseGold" class="accordion-collapse collapse show" aria-labelledby="flush-headingGold">
        <div class="accordion-body row">
          {
            sponsorData.filter((sponsor: { tier: string; }) => sponsor.tier == "gold").map((sponsor: SponsorType, index: number) => (
            <div class="col-md-3 col-sm-6">
                <SponsorContainer sponsor = {sponsor} height = "220px" width = "220px" tSize = "35px"/>
            </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSilver" aria-expanded="false" aria-controls="flush-collapseSilver">
          <h3 style ="margin-bottom:0;"><img src="/silver-medal.svg" class="inline-icon"> Silver</h3>
        </button>
      </h2>
      <div id="flush-collapseSilver" class="accordion-collapse collapse show" aria-labelledby="flush-headingSilver">
        <div class="accordion-body row">
          {
            sponsorData.filter((sponsor: { tier: string; }) => sponsor.tier == "silver").map((sponsor: SponsorType, index: number) => (
            <div class="col-md-3 col-sm-6">
                <SponsorContainer sponsor = {sponsor} height = "220px" width = "220px" tSize = "35px"/>
            </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBronze" aria-expanded="false" aria-controls="flush-collapseBronze">
          <h3 style ="margin-bottom:0;"><img src="/bronze-medal.svg" class="inline-icon"> Bronze</h3>
        </button>
      </h2>
      <div id="flush-collapseBronze" class="accordion-collapse collapse show" aria-labelledby="flush-headingBronze">
        <div class="accordion-body row">
          {
            sponsorData.filter((sponsor: { tier: string; }) => sponsor.tier == "bronze").map((sponsor: SponsorType, index: number) => (
            <div class="col-md-3 col-sm-6">
                <SponsorContainer sponsor = {sponsor} height = "220px" width = "220px" tSize = "35px"/>
            </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAluminum" aria-expanded="false" aria-controls="flush-collapseAluminum">
          <h3 style ="margin-bottom:0;"><img src="/aluminum-medal.svg" class="inline-icon"> Aluminum</h3>
        </button>
      </h2>
      <div id="flush-collapseAluminum" class="accordion-collapse collapse show" aria-labelledby="flush-headingAluminum">
        <div class="accordion-body row">
          {
            sponsorData.filter((sponsor: { tier: string; }) => sponsor.tier == "aluminum").map((sponsor: SponsorType, index: number) => (
            <div class="col-md-3 col-sm-6">
                <SponsorContainer sponsor = {sponsor} height = "220px" width = "220px" tSize = "35px"/>
            </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</PageSite>
