---
import '../styles/global.css';
import { SITE_DESCRIPTION, SITE_URL } from '../config';

export interface Props {
  title: string;
  image?: string;
}

const { title, image } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{title}</title>
<meta name="description" content={SITE_DESCRIPTION} />

<link rel="icon" href="/favicon.svg" />
<link rel="canonical" href={SITE_URL} />

<meta name="generator" content={Astro.generator} />
<meta name="robots" content="index, follow" />

<meta property="og:title" content={title} />
<meta property="og:description" content={SITE_DESCRIPTION} />
<meta property="og:url" content={SITE_URL} />
<meta property="og:type" content="website" />
<meta property="og:image" content={image} />
<meta property="twitter:card" content="summary" />
