---
import type {CarouselItemType} from '../types';
// import progressive image

export interface Props {
  images: string;
}

// @ts-ignore
const { images } = Astro.props;
const yml = await import(`../data/${images}.yml`);
// console.log(`../data/${images}.yml`);
const imageData = yml.default;
// console.log(typeof imageData[0])
for (let i = 0; i < imageData.length; i++) {
  imageData[i].slideNum = i;
 }
// (function(){
//   new Progressive({
//     el: '#app',
//     lazyClass: 'lazy',
//     removePreview: true,
//     scale: true
//   }).fire()
// })()
---

<style>
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 1);
    width: 3rem;
    height: 3rem;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 50%;
  }

  .carousel-caption {
    /* position: relative; */
    padding: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 1;
    /* top: 0; */
  }

  .carousel-caption > h4 {
    font-size: 16px;
    color: #ffffff;
  }

  .carousel-caption > a {
    text-decoration: none;
    font-size: 12px;
    color: #e00;
  }

  .carousel-indicators {
    margin: auto;
    margin-top:1rem;
    position: relative;
    background-color: rgba(0, 0, 0, 50%);
    padding-left: 7px;
    padding-right: 7px;
    /* display:inline-block; */
    height:fit-content;
    width:fit-content;
    border-radius:5px;
  }
</style>

<div
  id="ImageCarousel"
  class="carousel slide pointer-event"
  data-bs-ride="true"
>

  <div class="carousel-inner">

    {
      imageData.map((image: CarouselItemType) => (
        <div class="carousel-item">
          {image["img-link"] == null ?
            <img src={image.img} class="d-block w-100" alt="..." /> :
            <a href = {image["img-link"]} target = "_blank">
              <img src={image.img} class="d-block w-100" alt={image.caption} />
            </a>
          }
          <div class="carousel-caption text-start bg-dark">
            <h4>{image.caption}</h4>
            {image["read-more-link"] != null &&
              <a href = {image["read-more-link"]} target = "_blank">
                Read more
              </a>
            }
          </div>
        </div>
      ))
    }
    <script>
      let firstImage =
        document.getElementsByClassName('carousel-inner')[0].children[0];
      firstImage.className += ' active';
    </script>

    <div class="carousel-indicators">
      {
        imageData.map((image: CarouselItemType) => (
          <button class = "carousel-button" type="button" data-bs-target="#ImageCarousel" data-bs-slide-to={image.slideNum} aria-current="true"
          />
        ))
      }
      <script>
        let firstIndicator = document.getElementsByClassName('carousel-indicators')[0].children[0];
        firstIndicator.className += ' active';
      </script>
    </div>
  </div>
  
  <a
    class="carousel-control-prev"
    type="button"
    data-bs-target="#ImageCarousel"
    data-bs-slide="prev"
    >
    <span
      class="carousel-control-prev-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
</a>

  <a
    class="carousel-control-next"
    type="button"
    data-bs-target="#ImageCarousel"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon"
      aria-hidden="true"
      data-bs-theme="dark"
      ></span>
    <span class="visually-hidden">Next</span>
</a>
</div>
