---
import type {CarouselItemType} from '../types';
// import progressive image

export interface Props {
  images: string;
}

// @ts-ignore
const { images } = Astro.props;
const yml = await import(`../data/${images}.yml`);
// console.log(`../data/${images}.yml`);
const imageData = yml.default;
// console.log(typeof imageData[0])
for (let i = 0; i < imageData.length; i++) {
  imageData[i].slideNum = i;
 }
// (function(){
//   new Progressive({
//     el: '#app',
//     lazyClass: 'lazy',
//     removePreview: true,
//     scale: true
//   }).fire()
// })()
---

<style>
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
  }

  .carousel-caption > h4 {
    font-size: 16px;
    color: #ff0000;
  }
</style>

<div
  id="ImageCarousel"
  class="carousel slide pointer-event"
  data-bs-ride="true"
>
  <div class="carousel-inner">
    {
      imageData.map((image: CarouselItemType) => (
        <div class="carousel-item">
          <img src={image.img} class="d-block w-100" alt="..." />
          <div class="carousel-caption text-start bg-dark">
            <h4>{image.caption}</h4>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
      ))
    }
    <script>
      let firstImage =
        document.getElementsByClassName('carousel-inner')[0].children[0];
      firstImage.className += ' active';
    </script>
    <div class="carousel-indicators">
      {
        imageData.map((image: CarouselItemType) => (
          <button type="button" data-bs-target="#ImageCarousel" data-bs-slide-to={image.slideNum} aria-current="true"
          />
        ))
      }
      <script>
        let firstIndicator = document.getElementsByClassName('carousel-indicators')[0].children[0];
        firstIndicator.className += ' active';
      </script>
    </div>
  </div>
  
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#ImageCarousel"
    data-bs-slide="prev"
    ><span
      class="carousel-control-prev-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#ImageCarousel"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon"
      aria-hidden="true"
      data-bs-theme="dark"
      ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
