---
import type { MentorType } from "@types";
import { Picture } from "astro-imagetools/components";
import ImageContainer from "@components/ImageContainer.astro";

export interface Props {
  mentor: MentorType;
}

const { mentor } = Astro.props;
---

<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row no-gutters">
        <div class="col-7 d-inline-block align-middle">
          <h3 class="m-0">{mentor.name}</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row no-gutters">
        <div
          class="col-md-4 justify-content-center d-flex align-content-center"
        >
          {
            mentor.image ? (
              <ImageContainer
                img={mentor.image}
                alt={mentor.name}
                height="250px"
                width="250px"
                tSize="30px"
              />
            ) : (
              <strong>
                <h1 class="fw-bold text-muted text-center ">{mentor.name}</h1>
              </strong>
            )
          }
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">{mentor.description}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {
    mentor.woodieFlowers && (
      <a href={mentor.woodieFlowers}>
        Read more in their Woodie Flowers Award nomination!
      </a>
    )
  }
</div>
