---
import type { LeadershipType } from "@types";
import { Picture } from "astro-imagetools/components";

export interface Props {
  leadership: LeadershipType;
  height: string;
  width: string;
  tSize: string;
  hSize: string;
}

const { leadership, height, width, tSize, hSize } = Astro.props;
---

<style define:vars={{ height, width, tSize, hSize }}>
  .card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
  .leadership-container {
    height: var(--height);
    width: var(--width);
  }
  .card-header {
    /* background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 6rem,
      rgba(224, 0, 0, 1) 7.5rem
    ); */
  }

  .card-body {
    padding: 0.2em !important;
  }

  p {
    font-size: var(--tSize);
    text-indent: 1.5rem;
    text-align: justify;
  }
  h3 {
    font-size: var(--hSize);
    margin: 5px;
    color: black;
  }
</style>

<div class="leadership-container">
  <div class="card">
    <div class="card-header">
      <div class="row no-gutters">
        <div class="col-7 d-inline-block align-middle">
          <h3 class="m-0">{leadership.name}</h3>
        </div>
        <div class="col-5 d-inline text-nowrap text-end">
          <a href={"/../about/departments#" + leadership.department}>
            {
              [
                "Software Engineering",
                "Engineering",
                "Business",
                "Strategy",
              ].includes(leadership.department) ? (
                <img
                  src={
                    "/../../" +
                    leadership.department.split(" ")[0].toLowerCase() +
                    ".svg"
                  }
                  alt={leadership.department}
                  width="32px"
                />
              ) : (
                <p class="text-white">{leadership.department}</p>
              )
            }
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row no-gutters">
        <div
          class="col-10 col-md-4"
          style="max-width:250px; padding:25px; margin: auto;"
        >
          {
            leadership.image ? (
              <Picture src={leadership.image} alt={leadership.name} />
            ) : (
              <strong>
                <h1 class="fw-bold text-muted text-center ">
                  {leadership.name}
                </h1>
              </strong>
            )
          }
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-text m-0 mb-2 mt-2">{leadership.position}</h3>
            <p class="card-text">{leadership.description}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
