---
import type { LeadershipType } from "@types";
import { Picture } from "astro-imagetools/components";

export interface Props {
  leadership: LeadershipType;
  height: string;
  width: string;
  tSize: string;
}

const { leadership, height, width, tSize } = Astro.props;
---

<style define:vars={{ height, width, tSize }}>
  .leadership-container {
    height: var(--height);
    width: var(--width);
    
    justify-content: center;
    align-items: center;
  }
  .card-header{
    text-align: center;
    min-height: 100px;
  }

  p {
    font-size: var(--tSize);
    align-items: center;
    text-align: center;
  }
</style>

<div class="leadership-container">
  <div class="card">
    <div class="card-header">
        <h3>{leadership.position}</h3>
    </div>
    <div class="card-body p-0">
    { 
      leadership.image ? (
        <Picture src={leadership.image} alt={leadership.name} />
      ) : (
        <strong>
          <h4>{leadership.name}</h4>
        </strong>
      )
    }
    </div>
    <div class="card-footer" style="height:400px">
        <h4>{leadership.name}</h4>
        <p>{leadership.description}</p>
    </div>
  </div>

</div>
