---
import type { LeadershipType } from "@types";
import { Picture } from "astro-imagetools/components";

export interface Props {
  leadership: LeadershipType;
  height: string;
  width: string;
  tSize: string;
}

const { leadership, height, width, tSize } = Astro.props;
---

<style define:vars={{ height, width, tSize }}>
  .leadership-container {
    height: var(--height);
    width: var(--width);
  }

  p {
    font-size: var(--tSize);
  }
</style>

<div class="leadership-container">
  <div class="card">
    <div class="card-header">
      <h3>{leadership.name}</h3>
    </div>
    <div class="row no-gutters">
      <div class = "col-md-4" style="max-width:300px;">
          {
            leadership.image ? (
              <Picture src={leadership.image} alt={leadership.name}/>
            ) : (
            <strong>
              <h1>{leadership.name}</h1>
            </strong>
            )
          }
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-text">{leadership.position}</h3>
          <p class="card-text" style="text-indent: 1.5rem;">{leadership.description}</p>
        </div>
      </div>
    </div>
  </div>
</div>
