---
import type { SponsorType } from "@types";
import ImageContainer from "@components/ImageContainer.astro";

export interface Props {
  sponsor: SponsorType;
  height: string;
  width: string;
  tSize: string;
}

const { sponsor, height, width, tSize } = Astro.props;
---
<style>
  a:hover{
    filter: brightness(70%);
  }
</style>

{
  sponsor.logo ? (
    <div>
      {sponsor.site == null ? (
        <ImageContainer img={sponsor.logo} alt={sponsor.name} height={height} width={width} tSize={tSize} placeholder={"none"}/>
      ) : (
        <a href={sponsor.site} target="_blank">
          <ImageContainer img={sponsor.logo} alt={sponsor.name} height={height} width={width} tSize={tSize} placeholder={"none"}/>
        </a>
      )}
    </div>
  ) : (
    sponsor.site ? (
      <a href={sponsor.site} target="_blank">
        <ImageContainer text={sponsor.name} height={height} width={width} tSize={tSize}/>
      </a>
    ) : (
      <div style="color: #e00">
        <ImageContainer text={sponsor.name} height={height} width={width} tSize={tSize}/>
      </div>
    )
  )
}
