---
import type {SponsorType} from '@types';

export interface Props {
	sponsor: SponsorType;
  height: string;
  width: string;
  tSize: string;
}

const { sponsor, height, width, tSize } = Astro.props;
---
<style define:vars={{height, width, tSize}}>
  .sponsor-container {
    height: var(--height);
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }

  p {
    display: flex;
    font-size: var(--tSize);
    align-items: center;
    text-align: center;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
</style>

<div class = "sponsor-container">
{sponsor.logo ?
  <div>
    {sponsor.site == null ?
      <img src={sponsor.logo} class="d-block" alt={sponsor.name} />
      :
      <a href = {sponsor.site} target = "_blank">
        <img src={sponsor.logo} class="d-block" alt={sponsor.name} />
      </a>
    }
  </div>
  :
  <div>
    <p><strong>{sponsor.name}</strong></p>
  </div>
}
</div>